@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url('img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.welcome-message {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #00000006;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
}

#searchInput {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

#searchInput::placeholder {
    color: white;
    opacity: 1;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.card {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

footer {
    background-color: aliceblue;
    color: #45474B;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
    font-size: 1rem;
    position: relative;
}

/* Responsivo */
@media (max-width: 768px) {
    .welcome-message {
        font-size: 16px;
        padding: 15px;
    }
    .search {
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .welcome-message {
        font-size: 14px;
        padding: 10px;
    }
    .search {
        width: 90%;
    }
    .card {
        width: 90%;
    }
}
